:root {
  --size: 150px;
  --margin: 10px;
}
@media screen and (min-width: 440px) {
  :root {
    --size: 200px;
    --margin: 20px;
  }
}

@font-face {
  font-family: 'Advent';
  src: url('LettertypeMiesChristmasIcons-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS";
  background-color: #666754;
  color: rgba(0 0 0);
}